<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Surveys</h1>
    <ul>
      <%-include AllSurveys%>
    <ul>
    <script src="https://code.jquery.com/jquery.js"></script>
  </body>
</html>