<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = '/javascripts/tourFormScript.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
	<h1>CS Department Tour Survey Form</h1>

	<p>Thank you for attending a tour of our Department!</p><br>
	<p>Please help us improve this tour by giving us your feedback through this quick survey</p>

	<form name="tourSurvey" action="tourFormScript.js" onsubmit="validate()">
		I am a:<br><br>

		<input type="radio" name="who" value="Student">Student<br>
		<input type="radio" name="who" value="Parent">Parent<br><br>

		How did you find out about the tour?<br><br>

		<input type="radio" name="source" value="website">UMASS CS Website<br>
		<input type="radio" name="source" value="universitytour">University Tour<br>
		<input type="radio" name="source" value="friend">Friend<br>
		<input type="radio" name="source" value="other">Other<br><br>

		How was the length of the tour?<br><br>

		<input type="radio" name="length" value="long">Long<br>
		<input type="radio" name="length" value="applength">Appropriate Length<br>
		<input type="radio" name="length" value="short">Short<br><br>
	
        <input type="submit" value="Submit">
         
	</form>

  </body>
</html>