<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' media='screen'> <!--Bootstrap-->
    <link href='/stylesheets/style.css' rel='stylesheet' media='screen'/>

  </head>
  <body>
    <h1>UMASS<span>CS</span> Surveys</h1>

    <ul class = "bar nav nav-pills nav-stacked">
    	<div class="bar">
       	<button id="surveys" class="btn btn-default"><a href='/Surveys'>Surveys</a></button>
       	<button id="results" class="btn btn-default"><a href='/Results'>Results</a></button>
      </div>
    </ul>

    <div class = "display jumbotron">
      <p>Welcome to the School of Computer Science at UMass!</p>
      <p>Click on the navigation bar on the left to navigate around the page.</p>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/Client.js"></script>
  </body>
</html>